@charset "UTF-8";
/*
Theme Name: Solothurner Literaturtage 2020
Author: Thibault Brevet
Author URI: https://www.thibault.io
Description: Solothurn Literaturtage 2020 WP Theme.
Version: 1.0
Text Domain: slt20
*/
/*
— GT Flexa Medium Extended
— GT Flexa Medium
— GT Flexa Medium Supercompressed (new! its for the nonfictional titles)
— GT Flexa Mono Regular
— GT Flexa Mono Bold

— GT Alpina Fine Bold Condensed
— GT Alpina Standard Regular
— GT Alpina Standard Bold
— GT Alpina Standard Regular Italic

GT-Alpina-Typewriter-Bold-Italic.woff2

*/
@font-face {
  font-family: 'GTFlexaBetav8-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("assets/webfonts/GTFlexaBetav8-Regular.woff2") format("woff2"); }
@font-face {
  font-family: 'GTFlexaBetav8-Medium';
  font-style: normal;
  font-weight: normal;
  src: url("assets/webfonts/GTFlexaBetav8-Bold.woff2") format("woff2"); }
@font-face {
  font-family: 'GTFlexaBetav8-Medium';
  font-style: normal;
  font-weight: normal;
  src: url("assets/webfonts/GTFlexaBetav8-Medium.woff2") format("woff2"); }
@font-face {
  font-family: 'GTFlexaBetav8-MediumExtended';
  font-style: normal;
  font-weight: normal;
  src: url("assets/webfonts/GTFlexaBetav8-MediumExtended.woff2") format("woff2"); }
@font-face {
  font-family: 'GTFlexaBetav8-MediumSuperCompressed';
  font-style: normal;
  font-weight: normal;
  src: url("assets/webfonts/GTFlexaBetav8-MediumSuperCompressed.woff2") format("woff2"); }
@font-face {
  font-family: 'GTFlexaMonoBetav8-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("assets/webfonts/GTFlexaMonoBetav8-Regular.woff2") format("woff2"); }
@font-face {
  font-family: 'GTFlexaMonoBetav8-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("assets/webfonts/GTFlexaMonoBetav8-Bold.woff2") format("woff2"); }
@font-face {
  font-family: 'GT-Alpina-Fine-Condensed-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("assets/webfonts/GT-Alpina-Fine-Condensed-Bold.woff2") format("woff2"); }
@font-face {
  font-family: 'GT-Alpina-Standard-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("assets/webfonts/GT-Alpina-Standard-Regular.woff2") format("woff2"); }
@font-face {
  font-family: 'GT-Alpina-Standard-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("assets/webfonts/GT-Alpina-Standard-Bold.woff2") format("woff2"); }
@font-face {
  font-family: 'GT-Alpina-Standard-Regular-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("assets/webfonts/GT-Alpina-Standard-Regular-Italic.woff2") format("woff2"); }
@font-face {
  font-family: 'GT-Alpina-Standard-Bold-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("assets/webfonts/GT-Alpina-Standard-Bold-Italic.woff2") format("woff2"); }
html, body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 1.1;
  background-color: #000; }

body {
  overflow: visible; }

h1 {
  font-weight: normal; }

pre {
  font-family: "GT-Alpina-Standard-Regular";
  font-size: 1rem; }

strong {
  font-family: "GT-Alpina-Standard-Bold";
  font-weight: normal; }

a:link {
  transition: color 0.1s ease-in-out; }

a:hover {
  color: #7C7674; }

::selection {
  background: #7C7674;
  color: #000; }

.mono {
  font-family: "GTFlexaMonoBetav8-Regular"; }

.alpina {
  font-family: "GT-Alpina-Standard-Regular"; }

.nav-burger {
  display: none; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  font-family: "GTFlexaBetav8-MediumExtended";
  font-size: 0.76rem;
  letter-spacing: 0.2px; }
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; }
  .nav a:link,
  .nav a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
  .nav a:hover {
    color: #7C7674; }
  .nav .nav-menu {
    flex: 1 1 800px; }
  .nav .nav-lang {
    flex: 0 0;
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
    box-sizing: border-box; }
    .nav .nav-lang a:link, .nav .nav-lang a:visited {
      padding: 0 0.5em;
      color: #7C7674; }
    .nav .nav-lang a:hover,
    .nav .nav-lang a.lang-active:link,
    .nav .nav-lang a.lang-active:visited {
      color: #fff; }
  .nav .nav-info {
    flex: 0 0 23px; }
    .nav .nav-info a:link,
    .nav .nav-info a:visited {
      font-family: "GT-Alpina-Standard-Regular";
      border-radius: 20px;
      background-color: #fff;
      color: #000;
      text-transform: lowercase;
      padding: 3px 10px;
      transition: background-color 0.2s ease-in-out; }
    .nav .nav-info a:hover {
      background-color: #F8F8F8; }
  .nav .nav-close {
    display: none; }

.nav-live {
  position: fixed;
  top: 1.8rem;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: #f00;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  font-family: "GTFlexaBetav8-MediumExtended";
  font-size: 0.76rem;
  letter-spacing: 0.2px; }
  .nav-live .nav-streams {
    flex: 0 0 50%; }
  .nav-live ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; }
  .nav-live a:link,
  .nav-live a:visited {
    color: #000;
    text-decoration: none;
    text-transform: uppercase; }
  .nav-live a:hover {
    color: #7C7674; }
  .nav-live .nav-scroller {
    flex: 0 0 50%;
    overflow: hidden;
    background-color: #fff;
    margin: -0.5rem 0;
    padding: 0.5rem;
    font-family: "GTFlexaMonoBetav8-Regular"; }
    .nav-live .nav-scroller a:link {
      text-decoration: underline; }

.main-live-rooms {
  display: flex;
  background-color: #f00;
  border: 1.5px solid #000;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  box-sizing: border-box; }
  .main-live-rooms .main-live-side {
    flex: 0 0 10%;
    border: 1.5px solid #000;
    box-sizing: border-box; }
    .main-live-rooms .main-live-side img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center; }
  .main-live-rooms .main-live-blocks {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 80%;
    color: #000; }
    .main-live-rooms .main-live-blocks .main-live-block {
      position: relative;
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1.5px solid #000;
      box-sizing: border-box;
      align-items: center;
      background-color: #fff;
      transition: background-color 0.5s ease-in-out; }
      .main-live-rooms .main-live-blocks .main-live-block:hover {
        cursor: pointer; }
      .main-live-rooms .main-live-blocks .main-live-block .main-live-scroller {
        display: none;
        background-color: #000;
        color: #f00;
        overflow: hidden;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-family: "GTFlexaBetav8-MediumExtended"; }
      .main-live-rooms .main-live-blocks .main-live-block.main-live-block-on-air {
        background-color: #f00; }
        .main-live-rooms .main-live-blocks .main-live-block.main-live-block-on-air .main-live-scroller {
          display: block; }
        .main-live-rooms .main-live-blocks .main-live-block.main-live-block-on-air a:link {
          text-decoration: underline; }
      .main-live-rooms .main-live-blocks .main-live-block h1 {
        margin: 2rem auto;
        font-size: 3rem; }
        .main-live-rooms .main-live-blocks .main-live-block h1 a:link,
        .main-live-rooms .main-live-blocks .main-live-block h1 a:visited {
          text-decoration: none;
          color: #000; }
      @media (min-width: 1500px) {
        .main-live-rooms .main-live-blocks .main-live-block h1 {
          font-size: 4.5rem; } }
      .main-live-rooms .main-live-blocks .main-live-block .main-live-block-time,
      .main-live-rooms .main-live-blocks .main-live-block .main-live-block-title {
        font-family: "GTFlexaMonoBetav8-Regular";
        text-align: center; }
      .main-live-rooms .main-live-blocks .main-live-block .main-live-block-time {
        font-size: 1.75rem; }
      .main-live-rooms .main-live-blocks .main-live-block .main-live-block-title {
        font-size: 1.75rem;
        padding: 1rem 2rem 2rem;
        box-sizing: border-box; }
      .main-live-rooms .main-live-blocks .main-live-block.main-live-saulenhalle h1, .main-live-rooms .main-live-blocks .main-live-block.main-live-foyer h1 {
        font-family: "GT-Alpina-Fine-Condensed-Bold"; }
      .main-live-rooms .main-live-blocks .main-live-block.main-live-seminarraum h1 {
        font-family: "GTFlexaMonoBetav8-Regular"; }
      .main-live-rooms .main-live-blocks .main-live-block.main-live-kneipe h1 {
        font-family: "GTFlexaBetav8-MediumExtended"; }

.main {
  margin-top: 1.8rem;
  padding: 0; }
  .main.main-black {
    background-color: #000;
    color: #fff; }
  .main .main-header {
    display: flex;
    font-size: 1.75rem;
    color: #000;
    font-family: "GTFlexaBetav8-MediumExtended"; }
    .main .main-header a:link,
    .main .main-header a:visited {
      color: #000;
      text-decoration: none; }
    .main .main-header a:hover {
      color: #7C7674; }
    .main .main-header .main-title,
    .main .main-header .main-links,
    .main .main-header .main-now {
      padding: 1.5rem 1rem;
      box-sizing: border-box; }
    .main .main-header .main-title {
      text-align: center;
      flex: 1 1;
      background-color: #FFA700;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "GT-Alpina-Fine-Condensed-Bold";
      font-size: 3rem;
      line-height: 1;
      font-variant-numeric: oldstyle-nums; }
    .main .main-header .main-links {
      flex: 1 1;
      background-color: #FFE5DB; }
      .main .main-header .main-links p {
        margin: 0; }
      .main .main-header .main-links span {
        text-transform: uppercase;
        font-size: 1rem; }
      .main .main-header .main-links .main-links-default {
        display: block; }
      .main .main-header .main-links .main-links-live {
        display: none; }
    .main .main-header .main-now {
      flex: 1 1;
      background-color: #0027FF;
      position: relative;
      display: flex; }
      .main .main-header .main-now .main-now-col {
        flex: 1 1 50%; }
      .main .main-header .main-now canvas {
        width: 100%;
        height: auto; }
      .main .main-header .main-now .main-now-social {
        font-size: 1rem; }
  .main .main-home-news {
    background-color: #262525;
    font-family: "GTFlexaBetav8-MediumExtended";
    padding: 0 0 0.5rem; }
    .main .main-home-news .main-home-news-row {
      display: flex;
      flex-wrap: nowrap; }
      .main .main-home-news .main-home-news-row .main-home-news-col {
        flex: 1 1;
        padding: 1rem;
        box-sizing: border-box; }
        .main .main-home-news .main-home-news-row .main-home-news-col h2 {
          margin-top: 0.5rem; }
        .main .main-home-news .main-home-news-row .main-home-news-col a:link,
        .main .main-home-news .main-home-news-row .main-home-news-col a:visited {
          color: #fff; }
    .main .main-home-news .main-home-news-more {
      text-align: center; }
      .main .main-home-news .main-home-news-more a:link,
      .main .main-home-news .main-home-news-more a:visited {
        color: #7C7674;
        text-decoration: none; }
  .main .main-ads {
    background-color: #7C7674;
    padding: 2rem;
    box-sizing: border-box; }
    .main .main-ads .main-ad {
      padding: 2rem;
      box-sizing: border-box; }
      .main .main-ads .main-ad img {
        display: block;
        margin: 0 auto;
        height: 40vh;
        width: auto;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4); }
  .main .main-wines {
    background-color: #0027FF;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    box-sizing: border-box; }
    .main .main-wines .main-wine {
      font-family: "GTFlexaBetav8-MediumExtended";
      max-width: 30%;
      padding: 2rem;
      background-color: #fff;
      border: 1.5px solid #000;
      border-radius: 100px;
      color: #000;
      text-align: center;
      font-size: 1.2rem; }
      .main .main-wines .main-wine a:link,
      .main .main-wines .main-wine a:visited {
        color: #000;
        text-decoration: none; }
  .main .main-filters {
    display: flex;
    margin: 3rem 0;
    box-sizing: border-box; }
    .main .main-filters .main-filters-group {
      display: flex;
      padding: 0 0.5rem;
      box-sizing: border-box; }
      .main .main-filters .main-filters-group.main-filters-group-1 {
        flex: 2 2; }
      .main .main-filters .main-filters-group.main-filters-group-2 {
        flex: 3 3; }
      .main .main-filters .main-filters-group.main-filters-group-3 {
        flex: 4 4; }
      .main .main-filters .main-filters-group.main-filters-group-4 {
        flex: 5 5; }
      .main .main-filters .main-filters-group.main-filters-group-5 {
        flex: 6 6; }
      .main .main-filters .main-filters-group .main-filters-group-name {
        flex: 0 0 70px;
        padding-right: 0.5rem;
        box-sizing: border-box;
        font-family: "GTFlexaBetav8-MediumExtended"; }
      .main .main-filters .main-filters-group .main-filters-group-items .main-filters-group-item {
        display: inline-block;
        border-radius: 20px;
        border: 1px solid #fff;
        padding: 0.25rem 0.5rem;
        box-sizing: border-box;
        font-family: "GTFlexaMonoBetav8-Regular";
        text-align: center;
        margin: 0 0.25rem 0.5rem 0; }
        .main .main-filters .main-filters-group .main-filters-group-items .main-filters-group-item.filter-active {
          background-color: #7C7674;
          cursor: pointer; }
        @media (min-width: 1025px) {
          .main .main-filters .main-filters-group .main-filters-group-items .main-filters-group-item:hover {
            background-color: #7C7674;
            cursor: pointer; } }
  .main .main-day .main-day-title {
    font-family: "GTFlexaBetav8-MediumExtended";
    font-size: 2.5rem;
    text-align: center; }
  .main .main-day .main-day-events {
    display: flex;
    padding: 1em;
    box-sizing: border-box;
    flex-wrap: wrap; }
    .main .main-day .main-day-events .main-day-event {
      flex: 0 0 calc(33.333% - 1em);
      margin: 0.5em;
      box-sizing: border-box;
      height: 400px;
      perspective: 1000px; }
      .main .main-day .main-day-events .main-day-event .main-day-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.5s;
        transform-style: preserve-3d;
        /* Style the front side (fallback if image is missing) */ }
        .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front, .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          /* Safari */
          backface-visibility: hidden;
          transform-style: preserve-3d; }
        .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front {
          background-color: #0027FF;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          overflow: hidden; }
          .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-time {
            border-bottom: 4px solid #000;
            display: flex;
            justify-content: space-between;
            padding: 0.25em 0.5em;
            box-sizing: border-box;
            font-family: "GTFlexaMonoBetav8-Regular";
            letter-spacing: -1px;
            flex: 1 1; }
            .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-time .main-day-event-slot {
              font-size: 1.75rem; }
          .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-registration {
            text-align: center;
            font-family: "GTFlexaMonoBetav8-Regular";
            font-size: 0.8rem;
            padding: 1rem 0;
            flex: 1 1; }
            .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-registration span {
              padding: 0.5rem;
              border: 1px solid #fff; }
            .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-registration .main-day-event-registration-few,
            .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-registration .main-day-event-registration-full {
              padding: 0.5rem 2rem; }
            .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-registration .main-day-event-registration-few {
              background-color: #FFA700; }
            .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-registration .main-day-event-registration-full {
              background-color: #f00; }
          .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-title {
            text-align: center;
            font-size: 2.5rem;
            font-family: "GT-Alpina-Fine-Condensed-Bold";
            line-height: 0.9;
            flex: 3 3; }
          .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-meta {
            flex: 0 0 20%;
            text-align: center;
            padding: 1rem;
            font-family: "GTFlexaMonoBetav8-Regular";
            font-size: 0.8rem;
            flex: 1 1; }
            .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-meta a:link,
            .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-meta a:visited {
              color: #fff;
              font-family: "GTFlexaBetav8-Regular"; }
            .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-meta .bold {
              font-family: "GTFlexaBetav8-Regular"; }
          .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-more {
            position: absolute;
            bottom: -1rem;
            right: -1rem;
            width: 4em;
            height: 4em;
            background-color: #fff;
            color: #000;
            font-family: "GTFlexaMonoBetav8-Regular";
            padding: 0.25rem 0.5rem;
            box-sizing: border-box;
            transition: bottom 0.25s ease-in-out, right 0.25s ease-in-out; }
            .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-more .main-day-event-more-black {
              position: absolute;
              top: -1rem;
              left: 4rem;
              transform: rotate(45deg);
              transform-origin: 0% 0%;
              background-color: #000;
              width: 6rem;
              height: 8rem;
              transition: top 0.25s ease-in-out, left 0.25s ease-in-out; }
            .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-more:hover {
              cursor: pointer;
              bottom: -0.5rem;
              right: -0.5rem; }
              .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-more:hover .main-day-event-more-black {
                top: -0.5rem;
                left: 4rem; }
        .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-back {
          background-color: #fff;
          color: #0027FF;
          transform: rotateY(180deg);
          font-family: "GTFlexaBetav8-Regular";
          font-size: 0.8rem;
          padding: 1rem;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-back .main-day-back-content h1 {
            font-size: 0.8rem;
            margin-top: 0; }
          .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-back .main-day-register {
            display: block;
            margin: 0.5rem auto;
            text-align: center; }
            .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-back .main-day-register span {
              padding: 0.5rem;
              border: 1.5px solid #0027FF;
              border-radius: 20px; }
              .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-back .main-day-register span:hover {
                background-color: #0027FF;
                color: #fff;
                cursor: pointer; }
          .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-back .main-day-close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem;
            color: #0027FF;
            font-size: 1.75rem; }
            .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-back .main-day-close:hover {
              cursor: pointer; }
      .main .main-day .main-day-events .main-day-event.main-day-event-live .main-day-front {
        background-color: #f00; }
      .main .main-day .main-day-events .main-day-event.main-day-flip .main-day-inner {
        transform: rotateY(-180deg); }
  .main .main-logbooks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2rem;
    box-sizing: border-box; }
    .main .main-logbooks .main-logbook {
      flex-grow: 1;
      width: calc(50% - 1rem);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0.5rem;
      padding: 0.5em;
      box-sizing: border-box;
      height: 60vh;
      text-align: center;
      border-top: 1.5px solid #fff; }
      .main .main-logbooks .main-logbook a:link,
      .main .main-logbooks .main-logbook a:visited {
        color: #fff;
        text-decoration: none; }
      .main .main-logbooks .main-logbook a:hover {
        color: #7C7674; }
      .main .main-logbooks .main-logbook .main-logbook-cover {
        position: absolute;
        top: 10%;
        left: 20%;
        width: 60%;
        height: 80%;
        z-index: 0;
        filter: blur(12px);
        opacity: 0.7;
        transition: opacity 0.2s ease-in-out; }
        .main .main-logbooks .main-logbook .main-logbook-cover:hover {
          opacity: 1; }
        .main .main-logbooks .main-logbook .main-logbook-cover img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center; }
      .main .main-logbooks .main-logbook .main-logbook-date {
        text-transform: uppercase;
        font-family: "GTFlexaBetav8-Medium";
        z-index: 1; }
      .main .main-logbooks .main-logbook .main-logbook-title {
        flex: 4 4;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "GT-Alpina-Fine-Condensed-Bold";
        font-size: 4rem;
        z-index: 1;
        line-height: 0.8em; }
        .main .main-logbooks .main-logbook .main-logbook-title a:hover {
          color: #fff; }
        .main .main-logbooks .main-logbook .main-logbook-title.main-logbook-title-redaktionell {
          font-family: "GTFlexaBetav8-MediumSuperCompressed"; }
      .main .main-logbooks .main-logbook .main-logbook-meta {
        flex: 1 1;
        font-family: "GT-Alpina-Standard-Regular";
        z-index: 1;
        max-width: 550px;
        margin: 0 auto; }
        .main .main-logbooks .main-logbook .main-logbook-meta .italic {
          font-family: "GT-Alpina-Standard-Regular-Italic"; }
        .main .main-logbooks .main-logbook .main-logbook-meta a:link {
          font-family: "GTFlexaBetav8-MediumExtended";
          font-size: 0.9rem; }
        .main .main-logbooks .main-logbook .main-logbook-meta em {
          font-family: "GT-Alpina-Standard-Regular-Italic";
          font-weight: normal;
          font-style: normal; }
    .main .main-logbooks.main-logbooks-aareufer .main-logbook {
      width: 100%; }
      .main .main-logbooks.main-logbooks-aareufer .main-logbook .main-logbook-title,
      .main .main-logbooks.main-logbooks-aareufer .main-logbook .main-logbook-meta {
        max-width: 1000px;
        margin: 0 auto; }
      .main .main-logbooks.main-logbooks-aareufer .main-logbook .main-logbook-title {
        font-size: 5rem; }
  .main .main-single-logbook {
    background-color: #fff;
    box-sizing: border-box; }
    .main .main-single-logbook .main-single-logbook-hero {
      position: relative;
      height: calc(100vh - 2rem);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #fff; }
      .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0; }
        .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-cover img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center; }
      .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-title {
        flex: 0 0 80%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "GT-Alpina-Fine-Condensed-Bold";
        font-size: 8rem;
        letter-spacing: -4px;
        text-align: center;
        line-height: 0.9em; }
        .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-title.main-single-logbook-title-redaktionell {
          font-family: "GTFlexaBetav8-MediumSuperCompressed";
          max-width: 1000px;
          text-align: center;
          line-height: 0.96em;
          margin: 0 auto; }
      .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-subtitle {
        z-index: 1;
        font-family: "GT-Alpina-Standard-Bold";
        font-size: 1.75rem;
        padding: 0 1.75rem;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; }
        .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-subtitle .italic {
          font-family: "GT-Alpina-Standard-Regular-Italic"; }
        .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-subtitle a:link,
        .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-subtitle a:visited {
          font-family: "GTFlexaBetav8-MediumExtended";
          font-size: 1.75rem;
          color: #fff; }
          .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-subtitle a:link em,
          .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-subtitle a:visited em {
            font-family: "GTFlexaBetav8-MediumExtended"; }
        .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-subtitle em {
          font-family: "GT-Alpina-Standard-Regular-Italic";
          font-weight: normal;
          font-style: normal; }
      .main .main-single-logbook .main-single-logbook-hero.main-single-logbook-hero-black {
        background-color: #000; }
    .main .main-single-logbook .main-single-logbook-title-no-cover {
      font-family: "GT-Alpina-Fine-Condensed-Bold";
      font-size: 4rem;
      padding: 3rem 0 0;
      box-sizing: border-box;
      text-align: center;
      font-size: 8rem;
      letter-spacing: -4px;
      text-align: center;
      line-height: 0.9em; }
      .main .main-single-logbook .main-single-logbook-title-no-cover.main-single-logbook-title-redaktionell {
        font-family: "GTFlexaBetav8-MediumSuperCompressed";
        font-size: 8rem;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        line-height: 0.96em; }
    .main .main-single-logbook .main-single-logbook-content {
      -moz-osx-font-smoothing: grayscale;
      -webkit-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      osx-font-smoothing: grayscale;
      letter-spacing: 0.04px;
      line-height: 1.27em;
      font-family: "GT-Alpina-Standard-Regular";
      font-size: 1rem;
      max-width: calc(800px - 2rem);
      margin: 4rem auto;
      padding: 1rem; }
      .main .main-single-logbook .main-single-logbook-content h1, .main .main-single-logbook .main-single-logbook-content h2, .main .main-single-logbook .main-single-logbook-content h3, .main .main-single-logbook .main-single-logbook-content h4, .main .main-single-logbook .main-single-logbook-content h5, .main .main-single-logbook .main-single-logbook-content h6 {
        font-family: "GTFlexaBetav8-MediumExtended";
        font-size: 0.8rem; }
      .main .main-single-logbook .main-single-logbook-content h2 {
        font-size: 1.2rem;
        line-height: 1em;
        letter-spacing: -0.2px;
        margin-top: 3rem;
        font-family: "GTFlexaBetav8-MediumExtended"; }
        .main .main-single-logbook .main-single-logbook-content h2 em {
          font-family: "GTFlexaBetav8-MediumExtended"; }
      .main .main-single-logbook .main-single-logbook-content em {
        font-family: "GT-Alpina-Standard-Regular-Italic";
        font-weight: normal;
        font-style: normal; }
      .main .main-single-logbook .main-single-logbook-content em strong,
      .main .main-single-logbook .main-single-logbook-content strong em {
        font-family: "GT-Alpina-Standard-Bold-Italic";
        font-weight: normal;
        font-style: normal; }
      .main .main-single-logbook .main-single-logbook-content ul {
        margin: 2rem 0;
        padding: 2rem;
        list-style: none;
        background: #F8F8F8;
        font-size: 1rem;
        line-height: 1.2em; }
        .main .main-single-logbook .main-single-logbook-content ul li {
          padding: 0;
          padding-left: 2rem;
          text-indent: -2rem; }
        .main .main-single-logbook .main-single-logbook-content ul ul {
          margin: 0;
          padding: 0 2rem; }
      .main .main-single-logbook .main-single-logbook-content figcaption {
        font-family: "GT-Alpina-Standard-Bold";
        font-size: 0.8rem;
        color: #7C7674;
        margin-top: 0.5rem;
        line-height: 1.2em;
        letter-spacing: 0.08px; }
        .main .main-single-logbook .main-single-logbook-content figcaption a:link,
        .main .main-single-logbook .main-single-logbook-content figcaption a:visited {
          font-family: "GT-Alpina-Standard-Bold";
          text-decoration: underline;
          color: #7C7674;
          font-size: 0.8rem; }
        .main .main-single-logbook .main-single-logbook-content figcaption em,
        .main .main-single-logbook .main-single-logbook-content figcaption em strong,
        .main .main-single-logbook .main-single-logbook-content figcaption strong em {
          font-family: "GT-Alpina-Standard-Bold-Italic"; }
      .main .main-single-logbook .main-single-logbook-content a:link,
      .main .main-single-logbook .main-single-logbook-content a:visited {
        font-family: "GTFlexaBetav8-MediumExtended";
        font-size: 0.9rem;
        text-decoration: none;
        color: #000; }
      .main .main-single-logbook .main-single-logbook-content .has-text-align-center {
        text-align: center; }
      .main .main-single-logbook .main-single-logbook-content .has-text-align-right {
        text-align: right; }
      .main .main-single-logbook .main-single-logbook-content .has-text-color, .main .main-single-logbook .main-single-logbook-content .has-inline-color {
        color: #7C7674; }
      .main .main-single-logbook .main-single-logbook-content .wp-block-embed-vimeo {
        margin: 2rem -2rem;
        box-sizing: border-box; }
        .main .main-single-logbook .main-single-logbook-content .wp-block-embed-vimeo .wp-block-embed__wrapper {
          position: relative;
          padding-bottom: 56.25%;
          height: 0;
          overflow: hidden; }
          .main .main-single-logbook .main-single-logbook-content .wp-block-embed-vimeo .wp-block-embed__wrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; }
      .main .main-single-logbook .main-single-logbook-content .wp-block-audio audio {
        width: 100%; }
      .main .main-single-logbook .main-single-logbook-content .wp-block-image {
        margin: 2rem -2rem;
        box-sizing: border-box; }
        .main .main-single-logbook .main-single-logbook-content .wp-block-image img {
          display: block;
          width: 100%;
          height: auto; }
      .main .main-single-logbook .main-single-logbook-content .wp-block-gallery {
        margin: 2rem -2rem;
        height: 600px;
        box-sizing: border-box; }
        .main .main-single-logbook .main-single-logbook-content .wp-block-gallery .wp-block-gallery-slide {
          width: 100%;
          height: 600px; }
          .main .main-single-logbook .main-single-logbook-content .wp-block-gallery .wp-block-gallery-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center; }
      .main .main-single-logbook .main-single-logbook-content .wp-block-columns {
        margin: 2rem -2.5rem;
        display: flex;
        flex-wrap: nowrap; }
        .main .main-single-logbook .main-single-logbook-content .wp-block-columns .wp-block-column {
          flex: 1 1;
          padding: 0 0.5rem;
          box-sizing: border-box; }
          .main .main-single-logbook .main-single-logbook-content .wp-block-columns .wp-block-column .wp-block-image {
            margin: 1rem; }
      .main .main-single-logbook .main-single-logbook-content .wp-block-quote {
        font-size: 1.75rem;
        font-family: "GT-Alpina-Standard-Regular-Italic"; }
    .main .main-single-logbook .main-single-logbook-comments {
      font-family: "GTFlexaBetav8-MediumExtended";
      font-size: 1rem;
      max-width: calc(800px - 2rem);
      margin: 4rem auto;
      padding: 1rem; }
      .main .main-single-logbook .main-single-logbook-comments .main-single-logbook-comments-moderation {
        margin: 1rem 0; }
      .main .main-single-logbook .main-single-logbook-comments .comment-respond {
        margin: 2rem 0; }
        .main .main-single-logbook .main-single-logbook-comments .comment-respond .comment-reply-title,
        .main .main-single-logbook .main-single-logbook-comments .comment-respond .comment-notes,
        .main .main-single-logbook .main-single-logbook-comments .comment-respond .comment-form-url,
        .main .main-single-logbook .main-single-logbook-comments .comment-respond .comment-form-cookies-consent {
          display: none; }
        .main .main-single-logbook .main-single-logbook-comments .comment-respond .logged-in-as a:link,
        .main .main-single-logbook .main-single-logbook-comments .comment-respond .logged-in-as a:visited {
          color: #000; }
        .main .main-single-logbook .main-single-logbook-comments .comment-respond .comment-form-comment label {
          display: block; }
        .main .main-single-logbook .main-single-logbook-comments .comment-respond .form-submit input[type=submit] {
          background-color: #fff;
          -webkit-appearance: none;
          border-radius: 20px;
          padding: 0.25rem 0.5rem; }
    .main .main-single-logbook .main-single-logbook-moderator {
      background-color: #F8F8F8;
      max-width: calc(800px - 2rem);
      margin: 1rem auto 5rem;
      box-sizing: border-box;
      font-family: "GTFlexaBetav8-Regular"; }
      .main .main-single-logbook .main-single-logbook-moderator .main-single-logbook-moderator-name {
        font-family: "GTFlexaBetav8-MediumExtended";
        text-align: center;
        text-transform: uppercase;
        padding: 1rem 0 0; }
      .main .main-single-logbook .main-single-logbook-moderator .main-single-logbook-moderator-row {
        display: flex;
        flex-wrap: nowrap; }
        .main .main-single-logbook .main-single-logbook-moderator .main-single-logbook-moderator-row .main-single-logbook-moderator-col {
          padding: 1rem; }
          .main .main-single-logbook .main-single-logbook-moderator .main-single-logbook-moderator-row .main-single-logbook-moderator-col img {
            width: 100%; }
        .main .main-single-logbook .main-single-logbook-moderator .main-single-logbook-moderator-row .main-single-logbook-moderator-col-1 {
          flex: 1 1; }
        .main .main-single-logbook .main-single-logbook-moderator .main-single-logbook-moderator-row .main-single-logbook-moderator-col-3 {
          flex: 3 3; }
    .main .main-single-logbook .main-single-logbook-map {
      position: relative; }
      .main .main-single-logbook .main-single-logbook-map img {
        display: block;
        width: 100%;
        height: auto; }
      .main .main-single-logbook .main-single-logbook-map .main-single-logbook-players {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; }
        .main .main-single-logbook .main-single-logbook-map .main-single-logbook-players .main-single-logbook-player {
          position: absolute;
          transform: translate(-50%, -50%);
          background-color: #F8F8F8;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
          padding: 0.25rem 1rem;
          border-radius: 50px;
          font-family: "GTFlexaMonoBetav8-Regular";
          width: auto;
          transition: width 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
          white-space: nowrap; }
          .main .main-single-logbook .main-single-logbook-map .main-single-logbook-players .main-single-logbook-player:hover {
            cursor: pointer;
            box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75); }
    .main .main-single-logbook .main-single-logbook-extra-embed-link {
      display: none; }
    .main .main-single-logbook .main-single-logbook-extra-embed {
      background-color: #000;
      padding-bottom: 3rem; }
      .main .main-single-logbook .main-single-logbook-extra-embed iframe {
        width: 100% !important;
        height: 100vh !important;
        margin: 0 !important;
        border: 0 !important; }
    .main .main-single-logbook .main-single-logbook-writers-books {
      background-color: #000;
      color: #fff;
      display: flex;
      flex-wrap: nowrap;
      padding: 1rem;
      box-sizing: border-box; }
      .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-writers {
        flex: 1 1;
        padding: 0 1rem; }
        .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-writers a:link,
        .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-writers a:visited {
          text-decoration: none;
          color: #fff;
          font-size: 2.5rem;
          font-family: "GTFlexaBetav8-MediumExtended"; }
      .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-live {
        font-family: "GTFlexaMonoBetav8-Regular"; }
        .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-live h1 {
          text-align: center; }
        .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-live .main-single-logbook-event {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          border-top: 1.5px solid #fff;
          padding: 0.5rem 0 1rem; }
          .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-live .main-single-logbook-event .main-single-logbook-event-col {
            flex: 1 1; }
      .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-books {
        flex: 1 1;
        padding: 0 0.5rem; }
        .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-books .main-single-logbook-book {
          display: flex;
          flex-wrap: nowrap; }
          .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-books .main-single-logbook-book .main-single-logbook-book-cover {
            flex: 1 1; }
            .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-books .main-single-logbook-book .main-single-logbook-book-cover img {
              width: 100%; }
          .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-books .main-single-logbook-book .main-single-logbook-book-details {
            flex: 2 2;
            padding: 0 1rem;
            box-sizing: border-box;
            font-family: "GTFlexaMonoBetav8-Regular"; }
            .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-books .main-single-logbook-book .main-single-logbook-book-details h1 {
              margin-top: 0;
              font-family: "GT-Alpina-Fine-Condensed-Bold"; }
  .main .main-authors {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 6em auto;
    justify-content: space-around; }
    .main .main-authors .main-author {
      flex: 0 0 25%;
      margin: 2em;
      padding: 3em;
      height: 25vw;
      box-sizing: border-box;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
      .main .main-authors .main-author .main-author-portrait {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        filter: blur(26px);
        overflow: visible;
        transition: filter 0.2s ease-in-out, opacity 0.2s ease-in-out;
        opacity: 0.7;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transform: translateZ(0);
        backface-visibility: hidden;
        perspective: 1000;
        transform: translate3d(0, 0, 0);
        transform: translateZ(0); }
        .main .main-authors .main-author .main-author-portrait:hover {
          opacity: 1; }
        .main .main-authors .main-author .main-author-portrait img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          object-position: center; }
      .main .main-authors .main-author .main-author-name {
        z-index: 1;
        pointer-events: none;
        font-family: "GTFlexaBetav8-MediumExtended";
        font-size: 0.8rem;
        text-align: center; }
      .main .main-authors .main-author:hover .main-author-portrait {
        filter: blur(0); }
  .main .main-single-author {
    padding: 2rem;
    box-sizing: border-box; }
    .main .main-single-author h1 {
      font-family: "GTFlexaBetav8-MediumExtended";
      font-size: 4rem;
      text-align: center; }
    .main .main-single-author p {
      font-family: "GT-Alpina-Standard-Regular";
      max-width: 800px;
      margin: 0 auto; }
    .main .main-single-author a:link,
    .main .main-single-author a:visited {
      color: #fff; }
    .main .main-single-author .main-single-author-portrait {
      margin: 0 auto 5rem;
      width: 25vw; }
      .main .main-single-author .main-single-author-portrait img {
        display: block;
        width: 100%;
        height: auto; }
      .main .main-single-author .main-single-author-portrait p {
        margin: 0.5em 0;
        color: #7C7674;
        font-size: 0.8rem; }
    .main .main-single-author .main-single-author-bio {
      margin-bottom: 5rem; }
    .main .main-single-author .main-single-writer-book {
      border-top: 1.5px solid #fff; }
      .main .main-single-author .main-single-writer-book .main-single-writer-book-wrap {
        max-width: 800px;
        margin: 4rem auto; }
        .main .main-single-author .main-single-writer-book .main-single-writer-book-wrap h1 {
          margin-top: 0;
          margin-bottom: 3rem;
          font-family: "GT-Alpina-Fine-Condensed-Bold";
          text-align: left;
          font-size: 1.75rem; }
        .main .main-single-author .main-single-writer-book .main-single-writer-book-wrap img {
          display: block;
          width: 100%;
          height: auto; }
        .main .main-single-author .main-single-writer-book .main-single-writer-book-wrap p {
          font-family: "GTFlexaBetav8-Regular";
          font-size: 1rem; }
        .main .main-single-author .main-single-writer-book .main-single-writer-book-wrap .main-single-writer-book-row {
          display: flex;
          flex-wrap: nowrap;
          margin-bottom: 3rem; }
          .main .main-single-author .main-single-writer-book .main-single-writer-book-wrap .main-single-writer-book-row .main-single-writer-book-col-1 {
            flex: 1 1;
            padding: 0 1rem;
            box-sizing: border-box; }
          .main .main-single-author .main-single-writer-book .main-single-writer-book-wrap .main-single-writer-book-row .main-single-writer-book-col-2 {
            flex: 2 2; }
    .main .main-single-author .main-single-writer-logbook {
      border-top: 1.5px solid #fff;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      box-sizing: border-box; }
      .main .main-single-author .main-single-writer-logbook .main-single-writer-logbook-date {
        text-align: center;
        text-transform: uppercase;
        font-family: "GTFlexaBetav8-MediumExtended"; }
      .main .main-single-author .main-single-writer-logbook .main-single-writer-logbook-title-literatur a:link,
      .main .main-single-author .main-single-writer-logbook .main-single-writer-logbook-title-literatur a:visited {
        font-family: "GT-Alpina-Fine-Condensed-Bold"; }
      .main .main-single-author .main-single-writer-logbook .main-single-writer-logbook-title-redaktionell a:link,
      .main .main-single-author .main-single-writer-logbook .main-single-writer-logbook-title-redaktionell a:visited {
        font-family: "GTFlexaBetav8-MediumSuperCompressed"; }
      .main .main-single-author .main-single-writer-logbook a:link,
      .main .main-single-author .main-single-writer-logbook a:visited {
        color: #fff;
        text-decoration: none; }
      .main .main-single-author .main-single-writer-logbook a:hover {
        color: #7C7674; }
    .main .main-single-author .main-single-writer-live {
      border-top: 1.5px solid #fff;
      padding: 1rem 0;
      box-sizing: border-box;
      font-family: "GTFlexaMonoBetav8-Regular"; }
      .main .main-single-author .main-single-writer-live h1 {
        font-family: "GTFlexaBetav8-Medium";
        margin-bottom: 0.5rem; }
      .main .main-single-author .main-single-writer-live .main-single-writer-events {
        max-width: 800px;
        margin: 0 auto; }
        .main .main-single-author .main-single-writer-live .main-single-writer-events .main-single-writer-event {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          border-top: 1.5px solid #fff;
          padding: 0.5rem 0 1rem; }
          .main .main-single-author .main-single-writer-live .main-single-writer-events .main-single-writer-event .main-single-writer-event-col {
            flex: 1 1; }
          .main .main-single-author .main-single-writer-live .main-single-writer-events .main-single-writer-event .main-single-writer-event-col:last-child {
            text-align: right; }
          .main .main-single-author .main-single-writer-live .main-single-writer-events .main-single-writer-event .main-single-writer-event-col-2 {
            flex: 2 2; }
  .main .main-books-header {
    padding: 3rem 1rem 0;
    text-align: center;
    box-sizing: border-box; }
    .main .main-books-header h1 {
      font-family: "GTFlexaBetav8-MediumExtended";
      font-size: 1.2rem;
      max-width: 800px;
      margin: 0 auto;
      line-height: 1em;
      letter-spacing: -0.2px; }
      .main .main-books-header h1 a:link,
      .main .main-books-header h1 a:visited {
        color: #fff; }
  .main .main-books {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 6em auto;
    justify-content: space-between;
    box-sizing: border-box; }
    .main .main-books .main-book {
      flex: 0 0 calc(25% - 2em);
      padding: 0.5em;
      box-sizing: border-box;
      position: relative;
      font-family: "GTFlexaMonoBetav8-Regular";
      font-size: 1rem; }
      .main .main-books .main-book .main-book-cover {
        height: 15vw;
        margin-bottom: 1rem; }
        .main .main-books .main-book .main-book-cover img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center; }
      .main .main-books .main-book .main-author-portrait {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        filter: blur(26px);
        overflow: visible;
        transition: filter 0.2s ease-in-out, opacity 0.2s ease-in-out;
        opacity: 0.7; }
        .main .main-books .main-book .main-author-portrait:hover {
          opacity: 1; }
        .main .main-books .main-book .main-author-portrait img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          object-position: center; }
      .main .main-books .main-book .main-author-name {
        z-index: 1;
        pointer-events: none; }
      .main .main-books .main-book:hover .main-author-portrait {
        filter: blur(0); }
  .main .main-resonanzraum {
    padding: 2rem;
    box-sizing: border-box; }
    .main .main-resonanzraum h1 {
      font-family: "GTFlexaBetav8-MediumExtended";
      font-size: 4rem;
      text-align: center; }
    .main .main-resonanzraum h2 {
      font-family: "GTFlexaBetav8-MediumExtended";
      max-width: 800px;
      margin: 2rem auto 1rem;
      text-align: center; }
    .main .main-resonanzraum p {
      font-family: "GTFlexaBetav8-Medium";
      max-width: 800px;
      margin: 0 auto; }
    .main .main-resonanzraum a:link,
    .main .main-resonanzraum a:visited {
      color: #fff; }
    .main .main-resonanzraum .main-resonanzraum-content-buffer {
      margin: 2rem 0; }
      .main .main-resonanzraum .main-resonanzraum-content-buffer p {
        margin-bottom: 1rem; }
    .main .main-resonanzraum .main-resonanzraum-link {
      display: block;
      text-align: center;
      border: 1.5px solid #fff;
      padding: 0.5rem;
      max-width: 800px;
      margin: 1rem auto;
      border-radius: 50px;
      text-decoration: none;
      font-size: 1.75rem;
      font-family: "GTFlexaBetav8-MediumExtended"; }
  .main .main-resonanzraum-slt {
    padding: 2rem;
    box-sizing: border-box; }
    .main .main-resonanzraum-slt p {
      font-family: "GTFlexaBetav8-Medium";
      max-width: 800px;
      margin: 0 auto; }
    .main .main-resonanzraum-slt h1 {
      font-family: "GTFlexaBetav8-MediumExtended";
      font-size: 2.5rem;
      text-align: center; }
    .main .main-resonanzraum-slt a:link,
    .main .main-resonanzraum-slt a:visited {
      color: #fff; }
  .main .main-stream-wrapper {
    display: flex;
    flex-wrap: nowrap; }
    .main .main-stream-wrapper .main-stream {
      flex: 0 0 70%; }
    .main .main-stream-wrapper .main-chat {
      flex: 0 0 30%; }
      .main .main-stream-wrapper .main-chat iframe {
        width: 100% !important;
        height: 100% !important; }
    .main .main-stream-wrapper.no-chat .main-stream {
      flex: 0 0 100%; }
    .main .main-stream-wrapper.no-chat .main-chat {
      display: none; }
  .main .main-bolo-klub {
    padding: 2rem;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto; }
    .main .main-bolo-klub h1 {
      font-family: "GTFlexaBetav8-MediumExtended";
      font-size: 2.5rem;
      text-align: center; }
    .main .main-bolo-klub .main-bolo-klub-gallery {
      height: 600px;
      box-sizing: border-box;
      margin-bottom: 3rem; }
      .main .main-bolo-klub .main-bolo-klub-gallery .main-bolo-klub-slide {
        width: 100%;
        height: 600px;
        box-sizing: border-box; }
        .main .main-bolo-klub .main-bolo-klub-gallery .main-bolo-klub-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center; }
    .main .main-bolo-klub p,
    .main .main-bolo-klub a:link,
    .main .main-bolo-klub a:visited {
      color: #fff;
      font-family: "GTFlexaMonoBetav8-Regular"; }
    .main .main-bolo-klub a:link {
      text-decoration: none; }
    .main .main-bolo-klub .main-bolo-klub-buy,
    .main .main-bolo-klub .main-bolo-klub-sold {
      display: inline-block;
      background-color: #f00;
      border-radius: 20px;
      padding: 0.25rem 0.5rem;
      margin-top: 0.5rem; }
  .main .main-srf .main-srf-title {
    font-family: "GTFlexaBetav8-MediumExtended";
    font-size: 2.5rem;
    text-align: center; }
  .main .main-srf .main-srf-items {
    display: flex;
    padding: 1em;
    box-sizing: border-box;
    flex-wrap: wrap; }
    .main .main-srf .main-srf-items .main-item {
      flex: 0 0 calc(33.333% - 1em);
      margin: 0.5em;
      box-sizing: border-box;
      height: 400px;
      perspective: 1000px; }
      .main .main-srf .main-srf-items .main-item .main-srf-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.5s;
        transform-style: preserve-3d;
        /* Style the front side (fallback if image is missing) */ }
        .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-front, .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          /* Safari */
          backface-visibility: hidden;
          transform-style: preserve-3d; }
        .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-front {
          background-color: #FFE5DB;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; }
          .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-front .main-srf-title {
            color: #000;
            text-align: center;
            font-size: 2.5rem;
            font-family: "GT-Alpina-Fine-Condensed-Bold";
            line-height: 0.9;
            flex: 3 3; }
          .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-front .main-srf-more {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0.5rem; }
            .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-front .main-srf-more img {
              display: block;
              width: 60px;
              height: auto; }
          .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-front:hover {
            cursor: pointer; }
        .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-back {
          background-color: #fff;
          color: #000;
          transform: rotateY(180deg);
          font-family: "GTFlexaBetav8-Regular";
          font-size: 0.8rem;
          padding: 1rem;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-back .main-srf-back-content h1 {
            font-size: 0.8rem;
            margin-top: 0; }
          .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-back .main-srf-back-content img {
            display: block;
            width: 100%;
            height: auto;
            max-width: 100%;
            max-height: 200px;
            object-fit: contain;
            object-position: center; }
          .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-back .main-srf-link {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 1.5rem; }
            .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-back .main-srf-link a:link,
            .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-back .main-srf-link a:visited {
              color: #000;
              text-decoration: none;
              border: 1.5px solid #000;
              padding: 0.5rem 1rem;
              border-radius: 50px; }
          .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-back .main-srf-close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem;
            color: #000;
            font-size: 1.75rem; }
            .main .main-srf .main-srf-items .main-item .main-srf-inner .main-srf-back .main-srf-close:hover {
              cursor: pointer; }
      .main .main-srf .main-srf-items .main-item.main-srf-flip .main-srf-inner {
        transform: rotateY(-180deg); }
  .main .main-info {
    box-sizing: border-box; }
    .main .main-info .main-info-content {
      -moz-osx-font-smoothing: grayscale;
      -webkit-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      osx-font-smoothing: grayscale;
      letter-spacing: 0.04px;
      line-height: 1.27em;
      color: #fff;
      font-family: "GT-Alpina-Standard-Regular";
      font-size: 1rem;
      max-width: calc(800px - 2rem);
      margin: 4rem auto;
      padding: 1rem; }
      .main .main-info .main-info-content h1, .main .main-info .main-info-content h2, .main .main-info .main-info-content h3, .main .main-info .main-info-content h4, .main .main-info .main-info-content h5, .main .main-info .main-info-content h6 {
        font-family: "GTFlexaBetav8-MediumExtended";
        font-size: 0.8rem; }
      .main .main-info .main-info-content h2 {
        font-size: 1.2rem;
        line-height: 1em;
        letter-spacing: -0.2px;
        margin-top: 3rem;
        font-family: "GTFlexaBetav8-MediumExtended"; }
        .main .main-info .main-info-content h2 em {
          font-family: "GTFlexaBetav8-MediumExtended"; }
      .main .main-info .main-info-content em {
        font-family: "GT-Alpina-Standard-Regular";
        font-weight: normal;
        font-style: normal; }
      .main .main-info .main-info-content em strong,
      .main .main-info .main-info-content strong em {
        font-family: "GT-Alpina-Standard-Bold-Italic";
        font-weight: normal;
        font-style: normal; }
      .main .main-info .main-info-content a:link,
      .main .main-info .main-info-content a:visited {
        font-family: "GTFlexaBetav8-MediumExtended";
        font-size: 0.9rem;
        text-decoration: none;
        color: #fff; }
      .main .main-info .main-info-content .main-info-gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center; }
        .main .main-info .main-info-content .main-info-gallery img {
          display: block;
          width: 240px;
          height: auto;
          margin-right: 0.5rem;
          margin-bottom: 0.5rem; }
  .main .main-book-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start; }
    .main .main-book-buttons .main-book-info,
    .main .main-book-buttons .main-book-buy {
      margin-top: 1.5rem;
      margin-right: 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 20px; }
    .main .main-book-buttons .main-book-info {
      background-color: #0027FF; }
    .main .main-book-buttons .main-book-buy {
      background-color: #f00; }
    .main .main-book-buttons a:link,
    .main .main-book-buttons a:visited {
      color: #fff;
      text-decoration: none; }

.registration {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 2rem;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 1rem;
  font-family: "GTFlexaMonoBetav8-Regular";
  color: #0027FF; }
  .registration p {
    margin: 2rem 0; }
  .registration input {
    display: block;
    border-radius: 30px;
    font-size: 1rem;
    background-color: #fff;
    color: #0027FF;
    border: 1.5px solid #0027FF;
    margin: 0.5rem 0;
    padding: 0.5rem;
    outline: none; }
  .registration input[type='submit'] {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 2rem; }
    .registration input[type='submit']:hover {
      color: #fff;
      background-color: #0027FF;
      cursor: pointer; }
  .registration .registration-success {
    color: #0f0;
    text-align: center; }
  .registration .registration-failure {
    color: #f00;
    text-align: center; }
  .registration .registration-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color: #0027FF;
    font-size: 1.75rem; }
    .registration .registration-close:hover {
      cursor: pointer; }
  .registration .wpcf7-response-output,
  .registration .screen-reader-response {
    display: none !important; }

.live .nav-live {
  padding: 0.5rem 3rem !important; }
.live .main-links {
  background-color: #f00 !important; }
  .live .main-links .main-links-default {
    display: none !important; }
  .live .main-links .main-links-live {
    display: block !important; }

.footer {
  background-color: #000;
  display: flex;
  color: #7C7674;
  align-items: stretch;
  padding: 100px 0;
  font-family: "GTFlexaBetav8-MediumExtended"; }
  .footer a:link,
  .footer a:visited {
    color: #7C7674;
    text-decoration: none; }
  .footer a:hover {
    color: #fff; }
  .footer .footer-col {
    padding: 0 1em;
    box-sizing: border-box;
    position: relative; }
    .footer .footer-col img {
      width: 90%;
      height: auto; }
  .footer .footer-col-1 {
    flex: 1 1; }
  .footer .footer-col-2 {
    flex: 2 2; }
  .footer .footer-buffer {
    padding-top: 3.5rem; }
  .footer .footer-sponsors .footer-sponsor {
    display: inline-block;
    width: 33.333%;
    margin: 0.5rem 0; }
    .footer .footer-sponsors .footer-sponsor img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto; }

@media (max-width: 1024px) {
  .nav-burger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    color: #fff;
    z-index: 10000;
    text-shadow: 0 0 1px #000; }
    .nav-burger:hover {
      cursor: pointer; }

  .nav {
    height: 100%;
    padding: 0.5rem;
    padding-top: 20vh;
    display: block;
    z-index: 100000; }
    .nav.no-show {
      display: none; }
    .nav .nav-live {
      margin: -0.5rem;
      padding: 0;
      flex: 0 0 0;
      transition: flex-basis 0.25s ease-in-out;
      background-color: #f00;
      color: #fff;
      display: none; }
    .nav ul {
      display: block;
      margin: 0 auto; }
      .nav ul li {
        text-align: center;
        font-size: 1rem;
        padding: 0.25rem 0; }
    .nav .nav-lang {
      text-align: center;
      display: block; }
      .nav .nav-lang a:link, .nav .nav-lang a:visited {
        padding: 0 0.25em; }
    .nav .nav-info {
      padding-top: 1rem;
      flex: auto;
      text-align: center; }
      .nav .nav-info a:link,
      .nav .nav-info a:visited {
        font-family: "GT-Alpina-Standard-Regular";
        border-radius: 20px;
        background-color: #fff;
        color: #000;
        text-transform: lowercase;
        padding: 3px 10px;
        transition: background-color 0.2s ease-in-out; }
      .nav .nav-info a:hover {
        background-color: #F8F8F8; }
    .nav .nav-close {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      padding: 1rem;
      color: #fff;
      font-size: 1rem; }
      .nav .nav-close:hover {
        cursor: pointer; }

  .nav-live {
    position: relative;
    top: 0;
    width: 100%;
    display: block; }
    .nav-live .nav-streams {
      flex: 0 0 100%; }
    .nav-live ul {
      display: block; }
    .nav-live .nav-scroller {
      overflow: hidden;
      margin: 0.5rem -0.5rem -0.5rem;
      padding: 0.5rem; }

  .main-live-rooms {
    display: block;
    border: 1.5px solid #000; }
    .main-live-rooms .main-live-side {
      display: none; }
    .main-live-rooms .main-live-blocks {
      display: block; }
      .main-live-rooms .main-live-blocks .main-live-block h1 {
        font-size: 2rem; }
      .main-live-rooms .main-live-blocks .main-live-block .main-live-block-title {
        padding: 1rem 2rem 2rem; }

  .main {
    margin-top: 0; }
    .main .main-header {
      display: block; }
    .main .main-home-news .main-home-news-row {
      display: block; }
    .main .main-wines {
      display: block;
      padding: 0.5rem; }
      .main .main-wines .main-wine {
        max-width: 100%;
        margin: 1rem 0; }
    .main .main-logbooks {
      display: block;
      padding: 1rem; }
      .main .main-logbooks .main-logbook {
        width: 100%;
        height: auto;
        padding: 2rem 0 1rem; }
        .main .main-logbooks .main-logbook .main-logbook-title {
          font-size: 1.75rem; }
      .main .main-logbooks.main-logbooks-aareufer .main-logbook {
        width: 100%; }
        .main .main-logbooks.main-logbooks-aareufer .main-logbook .main-logbook-title,
        .main .main-logbooks.main-logbooks-aareufer .main-logbook .main-logbook-meta {
          max-width: 1000px;
          margin: 0 auto; }
        .main .main-logbooks.main-logbooks-aareufer .main-logbook .main-logbook-title {
          font-size: 4rem; }
      .main .main-logbooks .main-single-logbook-extra-embed-link {
        display: block; }
      .main .main-logbooks .main-single-logbook-extra-embed {
        display: none; }
      .main .main-logbooks .main-single-logbook-map .main-single-logbook-players .main-single-logbook-player {
        font-size: 0.8rem; }
    .main .main-ads .main-ad img {
      margin: 0 auto;
      height: auto;
      width: 100%; }
    .main .main-filters {
      display: block;
      margin: 0.5rem; }
      .main .main-filters .main-filters-group {
        display: block;
        padding: 0.5rem 0; }
        .main .main-filters .main-filters-group .main-filters-group-name {
          margin-bottom: 0.5rem; }
    .main .main-day .main-day-events {
      display: block;
      padding: 0; }
      .main .main-day .main-day-events .main-day-event {
        height: 400px; }
        .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-time .main-day-event-slot {
          font-size: 1rem;
          letter-spacing: 0; }
        .main .main-day .main-day-events .main-day-event .main-day-inner .main-day-front .main-day-event-stage {
          font-size: 1rem; }
    .main .main-single-logbook .main-single-logbook-hero {
      height: 100vh; }
      .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-title {
        padding: 0 1rem;
        box-sizing: border-box;
        font-size: 4rem;
        letter-spacing: 0px;
        line-height: 0.8em; }
      .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-subtitle {
        font-size: 1rem;
        padding: 0 1rem; }
        .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-subtitle a:link,
        .main .main-single-logbook .main-single-logbook-hero .main-single-logbook-subtitle a:visited {
          font-size: 1rem; }
    .main .main-single-logbook .main-single-logbook-title-no-cover {
      font-size: 2.5rem;
      padding: 6rem 0 0;
      letter-spacing: 0px; }
      .main .main-single-logbook .main-single-logbook-title-no-cover.main-single-logbook-title-redaktionell {
        font-size: 6rem; }
    .main .main-single-logbook .main-single-logbook-content {
      max-width: 100%; }
      .main .main-single-logbook .main-single-logbook-content pre {
        white-space: normal; }
      .main .main-single-logbook .main-single-logbook-content ul {
        margin: 2rem 0;
        padding: 1rem;
        list-style: none;
        background: #F8F8F8;
        font-size: 1rem;
        line-height: 1.2em; }
        .main .main-single-logbook .main-single-logbook-content ul li {
          padding: 0;
          padding-left: 1rem;
          text-indent: -1rem; }
        .main .main-single-logbook .main-single-logbook-content ul ul {
          margin: 0;
          padding: 0 1rem; }
      .main .main-single-logbook .main-single-logbook-content figcaption {
        padding: 0 1rem; }
      .main .main-single-logbook .main-single-logbook-content .wp-block-embed-vimeo {
        margin: 1rem -1rem;
        box-sizing: border-box; }
      .main .main-single-logbook .main-single-logbook-content .wp-block-image {
        margin: 1rem -1rem; }
      .main .main-single-logbook .main-single-logbook-content .wp-block-gallery {
        margin: 1rem -1rem;
        height: 600px; }
      .main .main-single-logbook .main-single-logbook-content .wp-block-columns {
        margin: 0;
        display: block; }
        .main .main-single-logbook .main-single-logbook-content .wp-block-columns .wp-block-column {
          flex: 1 1;
          padding: 1rem 0.5rem; }
          .main .main-single-logbook .main-single-logbook-content .wp-block-columns .wp-block-column .wp-block-image {
            margin: 1rem -1rem; }
    .main .main-single-logbook .main-single-logbook-moderator {
      max-width: 100%; }
      .main .main-single-logbook .main-single-logbook-moderator .main-single-logbook-moderator-row {
        display: block; }
    .main .main-single-logbook .main-single-logbook-writers-books {
      display: block; }
      .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-writers {
        padding: 0 1rem; }
        .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-writers a:link,
        .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-writers a:visited {
          font-size: 1.75rem; }
      .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-live {
        margin-bottom: 4rem; }
        .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-live .main-single-logbook-event {
          display: block; }
      .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-books {
        padding: 0 0.5rem; }
        .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-books .main-single-logbook-book {
          display: block; }
          .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-books .main-single-logbook-book .main-single-logbook-book-cover {
            margin-bottom: 1rem; }
          .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-books .main-single-logbook-book .main-single-logbook-book-details {
            padding: 0; }
            .main .main-single-logbook .main-single-logbook-writers-books .main-single-logbook-books .main-single-logbook-book .main-single-logbook-book-details h1 {
              margin-bottom: 0.5rem; }
    .main .main-authors {
      display: block;
      width: 100%; }
      .main .main-authors .main-author {
        margin: 2em;
        padding: 3em;
        height: 75vw; }
        .main .main-authors .main-author .main-author-portrait {
          filter: blur(13px); }
          .main .main-authors .main-author .main-author-portrait:hover {
            opacity: 1; }
        .main .main-authors .main-author .main-author-name {
          font-size: 1rem; }
    .main .main-single-author {
      padding: 3rem 1rem; }
      .main .main-single-author h1 {
        font-size: 1.75rem; }
      .main .main-single-author p {
        max-width: 100%; }
      .main .main-single-author .main-single-author-portrait {
        margin: 0 auto 5rem;
        width: 60%; }
      .main .main-single-author .main-single-writer-book .main-single-writer-book-wrap {
        max-width: 100%; }
        .main .main-single-author .main-single-writer-book .main-single-writer-book-wrap h1 {
          margin-bottom: 1rem; }
        .main .main-single-author .main-single-writer-book .main-single-writer-book-wrap .main-single-writer-book-row {
          display: block;
          margin-bottom: 3rem; }
          .main .main-single-author .main-single-writer-book .main-single-writer-book-wrap .main-single-writer-book-row .main-single-writer-book-col {
            margin-bottom: 2rem; }
      .main .main-single-author .main-single-writer-live .main-single-writer-events {
        max-width: 100%; }
        .main .main-single-author .main-single-writer-live .main-single-writer-events .main-single-writer-event {
          display: block; }
          .main .main-single-author .main-single-writer-live .main-single-writer-events .main-single-writer-event .main-single-writer-event-col:last-child {
            text-align: left; }
    .main .main-books {
      display: block;
      width: 100%;
      margin: 6em auto; }
      .main .main-books .main-book {
        padding: 1rem;
        margin-bottom: 3rem; }
        .main .main-books .main-book .main-book-cover {
          height: 75vw;
          margin-bottom: 1rem; }
        .main .main-books .main-book .main-book-infos {
          text-align: center; }
    .main .main-info {
      box-sizing: border-box; }
      .main .main-info .main-info-content {
        -moz-osx-font-smoothing: grayscale;
        -webkit-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        osx-font-smoothing: grayscale;
        letter-spacing: 0.04px;
        line-height: 1.27em;
        color: #fff;
        font-family: "GT-Alpina-Standard-Regular";
        font-size: 1rem;
        max-width: calc(800px - 2rem);
        margin: 4rem auto;
        padding: 1rem; }
        .main .main-info .main-info-content h1, .main .main-info .main-info-content h2, .main .main-info .main-info-content h3, .main .main-info .main-info-content h4, .main .main-info .main-info-content h5, .main .main-info .main-info-content h6 {
          font-family: "GTFlexaBetav8-MediumExtended";
          font-size: 0.8rem; }
        .main .main-info .main-info-content h2 {
          font-size: 1.2rem;
          line-height: 1em;
          letter-spacing: -0.2px;
          margin-top: 3rem;
          font-family: "GTFlexaBetav8-MediumExtended"; }
          .main .main-info .main-info-content h2 em {
            font-family: "GTFlexaBetav8-MediumExtended"; }
        .main .main-info .main-info-content em {
          font-family: "GT-Alpina-Standard-Regular";
          font-weight: normal;
          font-style: normal; }
        .main .main-info .main-info-content em strong,
        .main .main-info .main-info-content strong em {
          font-family: "GT-Alpina-Standard-Bold-Italic";
          font-weight: normal;
          font-style: normal; }
        .main .main-info .main-info-content a:link {
          font-family: "GTFlexaBetav8-MediumExtended";
          font-size: 0.9rem;
          text-decoration: none;
          color: #fff; }
        .main .main-info .main-info-content .main-info-gallery {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: center; }
          .main .main-info .main-info-content .main-info-gallery img {
            display: block;
            width: 240px;
            height: auto;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem; }
    .main .main-bolo-klub {
      padding: 1rem;
      box-sizing: border-box; }
    .main .main-book-buttons {
      justify-content: center; }
    .main .main-srf .main-srf-items {
      display: block;
      padding: 0; }
    .main .main-stream-wrapper {
      display: block; }

  .registration {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0%, 0%);
    padding: 3rem 1rem; }
    .registration p {
      margin: 1rem 0; }
    .registration input {
      display: block;
      width: calc(100% - 1rem); }
    .registration input[type='submit'] {
      margin-top: 3rem;
      padding: 0.5rem 1rem;
      width: 60%; }

  .footer {
    display: block;
    padding: 50px 0; }
    .footer .footer-buffer {
      padding-top: 1rem; }
    .footer .footer-sponsors .footer-sponsor {
      display: block;
      width: 100%; } }
